name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Clean
        run: ./gradlew clean

      - name: Build Debug APK
        run: ./gradlew assembleDebug
